
*{
    margin: 0;
}

.containerS{
    width: 100%;
    position: relative;
    height: fit-content;
}


.showValue{
    margin-left: 4px;
    gap: 3px;
    flex-wrap: wrap;
}
.showValue span{
    padding: 5px 8px;
    color: black;
    border-radius: 15px;
    font-size: 12px;
}

.showValue span:hover{
    background-color:white !important;
}


/*------------------------------------------------------------------- Selector One*/
.selectOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.labelSelectorOne{
    opacity: 0.6;
}

.arrowSelectorOne{
    width: 25px;
    height: 25px;
    transition: 300ms ease-in-out;
}


/*------------------------------------------------------------------- Selector Two*/

.searchInput{
    position: sticky;
    top: 5px;
    z-index: 10;
    width: calc(100% - 32px);
    margin: 5px;
    border-radius: 15px;
    padding: 5px 12px;
}


/*-------------------------------------------------------------------------options*/

.containerOptions{
    position: absolute;
    width: 96%;
    top: 110%;
    left: 2%;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    z-index: 100;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.containerOptions::-webkit-scrollbar {
    width: 6px; /* عرض شريط التمرير */
}

.containerOptions::-webkit-scrollbar-track {
    background: #f1f1f1; /* لون خلفية المسار */
    border-radius: 10px; /* زوايا مدورة */
}

.containerOptions::-webkit-scrollbar-thumb {
    background: #888; /* لون شريط التمرير */
    border-radius: 10px; /* زوايا مدورة */
}

.containerOptions::-webkit-scrollbar-thumb:hover {
    background: #555; /* لون شريط التمرير عند التمرير */
}

.containerOptions div{
    width: calc(100% - 6px);
    cursor: pointer;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

.containerOptions div p{
    height: fit-content;
}

/*-------------------------------------------------------------------loading*/


.loadingOptions{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.loadingOptions svg{
    width: 20px;
    height: 20px;
}