
*{
    margin: 0;
}

.containerS{
    width: 100%;
    position: relative;
    height: fit-content;
}

/*------------------------------------------------------------------- Selector One*/
.selectOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.labelSelectorOne{
    opacity: 0.6;
}

.arrowSelectorOne{
    width: 25px;
    height: 25px;
    transition: 300ms ease-in-out;
}


/*------------------------------------------------------------------- Selector Two*/

.selectTwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.selectTwo input{
    border: none;
    width: 100%;
    height: 100%;

}
.selectTwo input:focus{
    outline: none;
}
.labelSelectorTwo{
    opacity: 0.6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.selectTwo svg{
   position: absolute;
    top: 50%;
    transform: translateY(-50%);
}